.review-choice, img {
    width: 75px;
    height: 75px;
}

.review-choice {
    width: 150px;
    height: 150px;
    background-color: #d2cece;
    color: white;
    font-size: 3em;
}

#sidebar {
    background-color: #5e5d5d;
    padding: 1%;
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}

#main-display {
    border: 5px solid black;
    padding: 5%;
}

#image-display {
    border: 5px solid black;
    padding: 5%;
}

#rating-display {
    border: 5px solid black;
    padding: 5%;
    height: 100%;
}

.rating-display .currentImage, img {
    width: auto;
    height: auto;
}

.currentImage, img {
    width: 80%;
    height: 80%;
}

.btn-secondary {
    background-color: white;
}

.btn-secondary:hover {
    background-color: yellow;
}

.pic-dump {
    border-style: solid;
    border-width: 1px;
}

.generated-image {
    
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }